html {
	height: 100%;
}
#background { 
	background-image: url('assets/background.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;
 }
.preload {
	display: none;
}

img.ward {
    position: absolute;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}